@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*,*::before,*::after {
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}

body {
    text-align: left;    
  
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;

}
.content {
    background-color: white; 
/*     align-items: stretch;
 */}

.content,  body, header, main, .entry, .quotation, .card,aside  {
    display: flex;
    flex-direction: column;

}

aside {
    width:100vw;
}
header, footer {
    background-color: #1F2937;
    color:#F9FAF8;
}
header {     
    padding:20px 130px 80px 130px;
}
header .logo {
    font-size:24px;
    font-weight: 900;

}
.topbar,.hero,main {
min-width: 60vw;   
margin-inline: auto;
    
}
.logo {
    margin-right: auto;
}
.topbar, nav ul,.hero {
    display: flex;
    
}

nav ul {
    list-style-type: none;
    
}
nav a, footer a {
    text-decoration: none;
    color:inherit;
}

.call {
    background-color: #3882f6;
    color:inherit;
   
}
button {
    padding:5px 20px;
    border:2px solid transparent;
    border-radius: 10%;
}
.hero {
    
    padding-top: 80px;
    justify-content: space-between;
    align-items: stretch;
    
}
.hero h1 {
    font-size:48px;
    font-weight:900; /* extra bold */
}

.hero h2 {
    color:#E5E7EB;
    font-size: 18px;
}
button.call {
    width:fit-content;
    border-radius: 8% / 16%;
}

.card img, .hero img {
    /* this part is for aligning the alt text when there is a problem for 
        loading the image */
    display: flex;
    justify-content: center;
    align-items: center
}
.hero img {
    height:auto;
    width:450px;
    border:1px solid white;    
    background-color: rgb(120, 118, 118);    

}
.entry {
    gap:10px;
    width:50%;
}
main {    
    background-color: white; 
    padding-top: 28px;
    padding-bottom: 28px;
    align-items: center;
    justify-content: space-between;
    min-height: 50vh;
}
main > h2 {
    font-size: 36px;
    font-weight: 900;
}
.quotation {     
    justify-content: space-evenly;
    padding:82px 296px;
}
.quotation blockquote {
    align-self: stretch;
    color:#1F2937;
    font-style: italic;
    font-size: 36px;
    text-align: left;
    font-weight: 300; /* light */
}
.quotation cite {
    align-self: flex-end  ;
    font-weight: bold;
    font-size:   24px;
    
}
.deck {
    display:flex; 
    flex-flow: row wrap;            
    align-items: center;
    justify-content: center;
    gap:3vw;
   
   
   
}
.card {
    
    align-items: center;
    justify-content: center;
    flex:0 1 10.5%;
}
.card img {
    width:200px;
    height:auto;
   
    border:5px solid #3882F6;
    border-radius: 8%;
}
.card p {
    text-align: center; 
  
}
.quotation {
    background-color: #E5E7EB;
    /* flex:1; */
}
.action {
    width:60%;
    display: flex;
    flex:1;
    width:75%;
    padding:50px;    

    align-items: center;
    align-self: center;
    justify-content: space-around;    
    border:2px solid transparent;
    border-radius: 10px;
    margin: 80px auto;
    color:#F9FAF8;
}
.action h3 {
    font-weight: bold;
    font-size: 24px;
}
.border {
    border-color:#F9FAF8; 
}
footer {
    display: flex;
    align-content: center;
    justify-content: center;
    padding:28px;

}
